@use '../../../styles/defaults' as *;
@use '../../../styles/variables' as *;
@use '../../molecules/FormActions.module';

.export {
  > h1 {
    margin-bottom: 1rem;
  }
}

.disabledNotice {
  margin: 0.5em 0 0;
  color: $error-color;
  font-size: 0.875rem;
}
