@use '../../styles/defaults' as *;
@use '../../styles/variables' as *;

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.description {
  color: $muted-color;
  margin-bottom: 0.5rem;
}

.error,
.warning {
  margin: 0.5rem 0;
}
